html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
html {
  font-size: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility
}


a {
  background-color: transparent;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dd, small {
  padding: 0;
}



/*--------------------------------------------------------------
/** 2. Base Styles
--------------------------------------------------------------*/


body {
  font-size: 15px;
  line-height: 1.8;
  color: #484848;
  font-family: Merriweather, Georgia, Serif;
  background-color: #f1f1f1;
}

a {
  color: #111;
}



ul li a{
  color: #151515;
}
ul li a:hover{
  color: #ce3c83;
  text-decoration: none;
}


.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -0.5rem;
}
.list-inline > li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}
figure {
  margin: 100;
}

/* Home page img */
img {
  display: block;
 
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  background-size: cover;
  
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 600;
  line-height: 1.2;
  color: #111;
}
.h1, h1  {
  font-size: 3.5em;
  line-height: 1;
}
.h2, h2  {
  font-size: 2.3em;
  line-height: 1.2;
}
.h3, h3  {
  font-size: 1.6em;
  line-height: 1.3;
}
.h4, h4  {
  font-size: 1.4em;
  line-height: 1.25;
}
.h5, h5  {
  font-size: 1.3em;
  line-height: 1.25;
}
h6, .h6 {
  font-size: 0.9em;
  line-height: 1.4;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 75%;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}


.colored {
  color: #ce3c83 !important;
}

/** . Catalog css style 
--------------------------------------------------------------*/


.product-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.product {
  width: 20%;
  margin-bottom: 20px;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 5px;
  flex-wrap: wrap;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-size: 14px;
  margin-bottom: 10px;
}
/*--------------------------------------------------------------
/** 7. Form Styles
--------------------------------------------------------------*/
form .row {
  padding-bottom: 0;
}

label, legend {
  display: block;
  margin-bottom: 0.5em;
  font-size: 13px;
  color: #a7a7a7;
  letter-spacing: 1px;
}




/* - Buttons Aligns
------------------------------------------------------------- */

.btn-right{
  text-align: right;
  display: block;
}

html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.text-center {
  text-align: center;
}



/* - Button hover Effects1
------------------------------------------------------------- */
[class^="btn-"] {
    display: inline-block;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: #ce3c83;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-hvr-effects:hover, 
.btn-hvr-effects:focus, 
.btn-hvr-effects:active {
    text-decoration: none;
    color: #fff;    
    background: #333;
}

/* -- Navbar
--------------------------------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  
}

.nav-links a {
  color: #100f0f;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 20px; 
}


a.nav-link {
    color: #111;
  
   
}
.navbar-nav .nav-item a.nav-link:focus,
.navbar-nav .nav-item a.nav-link:hover,
.navbar-nav .nav-item.active a.nav-link {
  color: #ce3c83;
  margin-right: auto;
    
}




/* -- Homepage Banner Section
--------------------------------------------------------------*/

main .text-content{
  position: absolute;
  max-width: 620px;
  left: 20%;
  top: 30%;
  background: rgba(255,255,255,0.9);
  padding: 55px 50px;
  z-index: 2;
}





/* Login form css style*/
.login-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color:#ce3c83;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #333;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.register-link {
  text-align: center;
}

.register-link a {
  color: #1b15bc;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}



    /* Register form css style */

.register-container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 400px;
        margin: 0 auto;
        margin-top: 50px;
      }
      
      h2 {
        text-align: center;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input[type="text"],
      input[type="password"],
      input[type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }
      
      input[type="submit"] {
        background-color: #ce3c83;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      
      input[type="submit"]:hover {
        background-color: #333;
      }
      
      .error-message {
        color: red;
        margin-bottom: 20px;
      }

      /* Create product css style */

      .product-container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 400px;
        margin: 0 auto;
        margin-top: 50px;
      }
      
      h2 {
        text-align: center;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input[type="text"],
      input[type="number"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }
      
      textarea {
        resize: vertical;
        height: 100px;
      }
      
      input[type="submit"] {
        background-color:#ce3c83;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      
      input[type="submit"]:hover {
        background-color: #333;
      }
      
      .error-message {
        color: red;
        margin-bottom: 20px;
      }

      /* Details page css style */
      .product-container {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 600px;
        margin: 0 auto;
        margin-top: 20px;
      }
      
      h2 {
        text-align: center;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input[type="text"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }
      
      textarea {
        height: 100px;
      }
      
      input[type="submit"] {
        background-color: #ce3c83;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      
      input[type="submit"]:hover {
        background-color: #333;
      }
      
      .error-message {
        color: red;
        margin-bottom: 20px;
      }
      
      .edit-delete-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
      
      .edit-button,
      .delete-button {
        background-color: #ce3c83;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      
      .edit-button:hover {
        background-color: #333;
      }
      
      .delete-button:hover {
        background-color: #f44336;
      }
      .product-image {
        width: 35%;
        height: auto;
        margin-bottom: 1px;
        position: center;
      }
      

      